# Default ignored files
/shelf/
/workspace.xml

/.idea
/*/target

/*/error-detail-queue.data
/*/error-detail-queue.index
/*/error-detail-queue-index.data
/*/error-detail-queue-index.index

/*/*.iml
/*.iml

/testdb.mv.db
