{
    "id": "{{{id}}}",
    "nat": {{{nat}}},
    "dualnet": {{{dualnet}}},
    "moClass": {{{moClass}}},
    "extended": {
        "cpes": [
             {{#extended.cpes}}
                 {
                     "nsn": "{{{msn}}}",
                     "m1400": null,
                     "scpId": "{{{scpId}}}",
                     "linefxId": "{{{linefxId}}}",
                     "lineState": {{{lineState}}},
                     "msclegpoId": {{{msclegpoId}}},
                     "routerType": {{{routerType}}},
                     "vlineState": {{{vlineState}}},
                     "linefxCisId": {{{linefxCisId}}},
                     "mscconnpoId": {{{mscconnpoId}}},
                     "msclegcfsId": {{{msclegcfsId}}},
                     "partslistId": {{{partslistId}}},
                     "routerLabel": {{{routerLabel}}},
                     "routerState": {{{routerState}}},
                     "mscconncfsId": {{{mscconncfsId}}},
                     "equipmentUnitId": {{{equipmentUnitId}}},
                     "partslistDescription": {{{partslistDescription}}}
                 }
             {{^-last}},{{/-last}}
             {{/extended.cpes}}
         ],
        "scpId": {{{extended.scpId}}},
        "vaccess1":
            {{#extended.vaccess1}}
            {
            "id": {{{id}}},
            "inOp": {
                "id": {{{inOp.id}}},
                "data": {
                    "id": {{{inOp.data.id}}},
                    "name": {{{inOp.data.name}}},
                    "esbcId": "{{{inOp.data.esbcId}}}",
                    "created": {{{inOp.data.created}}},
                    "labeled": {{{inOp.data.labeled}}},
                    "modified": {{{inOp.data.modified}}},
                    "tecNatId": "{{{inOp.data.tecNatId}}}",
                    "cpeLabel1": {{{inOp.data.cpeLabel1}}},
                    "createdBy": {{{inOp.data.createdBy}}},
                    "dualNetId": {{{inOp.data.dualNetId}}},
                    "modifiedBy": {{{inOp.data.modifiedBy}}},
                    "multiVpnId": {{{inOp.data.multiVpnId}}},
                    "qosModelId": {{{inOp.data.qosModelId}}},
                    "lanSapLabel": {{{inOp.data.lanSapLabel}}},
                    "vaccessTypeId": {{{inOp.data.vaccessTypeId}}},
                    "tecMulticastId": {{{inOp.data.tecMulticastId}}},
                    "tecSecureCerId": {{{inOp.data.tecSecureCerId}}},
                    "tecPkiSupportId": {{{inOp.data.tecPkiSupportId}}},
                    "caripGoldPercent": {{{inOp.data.caripGoldPercent}}},
                    "caripBronzePercent": {{{inOp.data.caripBronzePercent}}},
                    "caripSilverPercent": {{{inOp.data.caripSilverPercent}}},
                    "lanSapLabelDualNet": {{{inOp.data.lanSapLabelDualNet}}},
                    "scpInDocumentYesNo": {{{inOp.data.scpInDocumentYesNo}}},
                    "documentRemarkYesNo": "{{{inOp.data.documentRemarkYesNo}}}",
                    "scpComponentStateId": {{{inOp.data.scpComponentStateId}}},
                    "caripPlatinumPercent": "{{{inOp.data.caripPlatinumPercent}}}",
                    "caripGeneralDataPercent": "{{{inOp.data.caripGeneralDataPercent}}}",
                    "caripPriorityDataPercent": "{{{inOp.data.caripPriorityDataPercent}}}"
                }
            }
            {{/extended.vaccess1}}
        }
    }
}